<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <form
        (ngSubmit)="getDetails()"
        #getDetailsForm="ngForm"
        class="form-horizontal"
      >
        <div class="form-group">
          <textarea
            rows="10"
            class="form-control"
            [(ngModel)]="textareaParsed"
            (ngModelChange)="parseTextArea()"
            name="Parsed"
            #Parsed="ngModel"
            required
            cols="50"
          ></textarea>

          <div
            [hidden]="Parsed.valid || Parsed.pristine"
            class="alert alert-danger mt-3"
          >
            <span *ngIf="Parsed.errors?.['required']">
              you must enter a value
            </span>
          </div>
        </div>
        <div class="form-group mt-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!getDetailsForm.form.valid"
          >
            Submit
          </button>
        </div>
      </form>
      <table *ngIf="datasplitLine.length > 0" class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>Qty</th>
            <th>Unit</th>
            <th>Food</th>
            <th>Calories</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of datasplitLine; let i = index">
            <th>{{ food?.[0] | noComma }}</th>
            <th>{{ food?.[1] | noComma }}</th>
            <th>{{ food?.[2] | noComma  }}</th>
            <th>{{ foodData?.[i]?.calories }} kcal</th>
            <th>{{ foodData?.[i]?.totalWeight.toFixed(1) }} g</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <section *ngIf="datasplitLine.length > 0" class="performance-facts">
        <div class="performance-facts__header">
          <h1 class="performance-facts__title">Nutrition Facts</h1>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th colspan="3" class="amps">Amount Per Serving</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2" id="lkcal-val-cal"><b>Calories</b></th>
              <td class="text-end">
                <b>{{ AnalyzedData.calories.toFixed() }} kcal</b>
              </td>
            </tr>
            <tr>
              <td class="text-end" colspan="3">
                <small class="bold">% Daily Value*</small>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Total Fat</b>
                {{ AnalyzedData.fat.toFixed() }} g
              </th>
              <td class="text-end">
                <b>
                  {{ AnalyzedData.totalFat.toFixed() }}
                  %</b
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <th>
                Saturated Fat
                {{ AnalyzedData.totalNutrientsFASAT.toFixed() }}
                g
              </th>
              <td class="text-end">
                <b>
                  {{ AnalyzedData.totalDailyFASAT.toFixed() }}
                  %</b
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <th>Trans Fat -</th>
              <td></td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Cholesterol</b>
                {{ AnalyzedData.totalNutrientsCHOLE.toFixed() }} mg
              </th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyCHOLE.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Sodium</b> {{ AnalyzedData.totalNutrientsNA.toFixed() }} mg
              </th>
              <td class="text-end">
                <b>{{ AnalyzedData.totalDailyNA.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Total Carbohydrate</b>
                {{ AnalyzedData.totalNutrientsCHOCDF.toFixed() }} g
              </th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyCHOCDF.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <td></td>
              <th>
                Dietary Fiber {{ AnalyzedData.totalNutrientFIBTG.toFixed(1) }} g
              </th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyFIBTG.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <td></td>
              <th>
                Total Sugars {{ AnalyzedData.totalNutrientsSUGAR.toFixed() }} g
              </th>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <th>Includes - Added Sugars</th>
              <td></td>
            </tr>
            <tr class="thick-end">
              <th colspan="2">
                <b>Protein</b
                >{{ AnalyzedData.totalNutrientsPROCNT.toFixed(1) }} g
              </th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyPROCNT.toFixed() }} %</b>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th>Vitamin D 0 µg</th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyVITD.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <th>Calcium {{ AnalyzedData.totalNutrientsCA.toFixed(1) }} mg</th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyCA.toFixed() }} %</b>
              </td>
            </tr>
            <tr>
              <th>Iron {{ AnalyzedData.totalNutrientsFE.toFixed(1) }} mg</th>
              <td class="text-end">
                <b> {{ AnalyzedData.totalDailyFE.toFixed() }} %</b>
              </td>
            </tr>
            <tr class="thin-end">
              <th>
                Potassium {{ AnalyzedData.totalNutrientsK.toFixed(1) }} mg
              </th>
              <td class="text-end">
                <b>{{ AnalyzedData.totalDailyK.toFixed() }} %</b>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>

  <div class="loading" *ngIf="loaded">
    <img class="center" src="assets/images/Loading.gif" />
  </div>
</div>
